---
import dayjs from 'dayjs'
import relativeTime from 'dayjs/plugin/relativeTime'
dayjs.extend(relativeTime)
const { date, mode } = Astro.props
---

<time datetime={date.toISOString()}>
    <div
        class="tooltip"
        data-tip={(mode === 'update' ? 'Updated' : 'Published') +
            ' on ' +
            dayjs(date).format('D MMM YYYY')}
    >
        {dayjs(date).fromNow()}
    </div>
</time>
