---
import '../styles/global.css'
import Footer from './Footer.astro'
import Navbar from '../components/Navbar.astro'
import { ClientRouter } from 'astro:transitions'

interface Props {
    title: string
    description: string
    fullBleed?: boolean
}

const { title, description, fullBleed = false } = Astro.props
---

<!doctype html>
<html lang="en" data-theme="hometheme">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script
            defer
            src="https://u.btonomics.com/x.js"
            data-domains="btonomics.com,www.btonomics.com"
            data-website-id="780e1d44-7efe-46d7-95bb-e1fe18d435fe"></script>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | BTOnomics</title>
        <ClientRouter />
    </head>
    <body class="bg-base-200 font-body">
        <Navbar />
        <slot name="hero" />
        {
            fullBleed ? (
                <slot />
            ) : (
                <div class="grid justify-items-center">
                    <div class="w-full p-4 md:max-w-(--breakpoint-2xl) lg:p-8">
                        <slot />
                    </div>
                </div>
            )
        }
        <Footer />
    </body>
</html>
