---
import '../styles/global.css'
import Footer from './Footer.astro'
import Navbar from '../components/Navbar.astro'
import { ClientRouter } from 'astro:transitions'

const { title, fullBleed = false } = Astro.props
---

<!doctype html>
<html lang="en" data-theme="hometheme">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="A blog for budget conscious people renovating their home."
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script defer data-domain="btonomics.com" src="https://plausible.zixian.dev/js/script.js"
        ></script>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="generator" content={Astro.generator} />
        <title>BTOnomics - {title}</title>
        <ClientRouter />
    </head>
    <body class="bg-base-200 font-body">
        <Navbar />
        <slot name="hero" />
        {
            fullBleed ? (
                <slot />
            ) : (
                <div class="grid justify-items-center">
                    <div class="w-full p-4 md:max-w-(--breakpoint-2xl) lg:p-8">
                        <slot />
                    </div>
                </div>
            )
        }
        <Footer />
    </body>
</html>
